
{% extends "Pages/base.html" %}
{% load static %}
{% block content %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <style>
    .old_price {
      font-weight: bold;
      color: red;
    }

    .new_price {
      font-weight: bold;
      background-color: green;
      color: white;
      padding: 2px;
      border-radius: 5px;
    }

    .cart-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      background-color: #f5f5f5;
      border-radius: 0.25rem;
      border: none;
      color: #333;
      font-weight: bold;
      text-decoration: none;
    }

    .cart-icon {
      margin-right: 0.5rem;
    }

    .cart-count {
      display: inline-block;
      margin-left: 0.25rem;
      padding: 0.25rem;
      background-color: #333;
      color: #fff;
      font-size: 0.75rem;
      border-radius: 50%;
    }
  </style>
  <!-- ------------------------------------------------Top ------------------------------------------------------------------- -->
  <!--------------------------------------------------Category Start---------------------------------------------------------- -->
  <div class="container my-3" id="langingpage">

    <div id="product-list" class="row ">
      {% comment %} {% for item in products %}
      <div class="col-md-4 col-lg-3 product">
        <div class="card my-3">
          <img src="{{item.product_image.url}}" class="card-image-top" alt="product image">
          <a href="{% url 'ProductDetails' category item.name %}">
            <div class="card-body">
              <h5 class="card-title text-primary text-dark">{{item.name}}</h5>
              <p class="card-text">
                <span class="float-start old_price"><s>Rs.{{item.original_price}}</s></span>
                <span class="float-end new_price">Rs.{{item.selling_price}}</span>
              </p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %} {% endcomment %}
      {% for item in products %}
      <div class="col-6 col-md-3 mb-3">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <a href="{% url 'ProductDetails' item.Category.name item.name %}" class="text-dark">
              <div class="member-plan position-absolute"><span class="badge m-3 badge-danger">10%</span>
              </div>
              <div class="p-3">
                <img src="{{item.product_image.url}}" class="img-fluid item-img w-100 mb-3">
                <h6>{{item.name}}</h6>
                <div class="d-flex align-items-center">
                  <h6 class="price m-0 text-success">₹ {{item.selling_price}}/kg</h6>
                  <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
                    aria-controls="collapseExample1" class="btn btn-success btn-sm ml-auto">+</a>
                  <div class="collapse qty_show" id="collapseExample1">
                    <div>
                      <span class="ml-auto" href="#">
                        <form id='myform' class="cart-items-number d-flex" method='POST' action='#'>
                          <input type='button' value='-' class='qtyminus btn btn-success btn-sm'
                            field='quantity' />
                          <input type='text' name='quantity' value='1' class='qty form-control' />
                          <input type='button' value='+' class='qtyplus btn btn-success btn-sm'
                            field='quantity' />
                        </form>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
    var availableTags = [];

    $.ajax({
      method: "GET",
      url: "/product_list",
      success: function (response) {
        console.log(response)
        startAutocomplete(response)
      }
    });
    function startAutocomplete(availableTags) {
      $("#search-input").autocomplete({
        source: availableTags
      });
    }
  </script>

  <script>
    const searchInput = document.querySelector('#search-input');
    const productListss = document.querySelector('#product-list');

    searchInput.addEventListener('keyup', function (event) {
      const searchQuery = event.target.value.toLowerCase();
      const products = productListss.querySelectorAll('.product');

      products.forEach(function (product) {
        const productName = product.querySelector('.card-title').textContent.toLowerCase();

        if (productName.includes(searchQuery)) {
          product.style.display = 'block';
        } else {
          product.style.display = 'none';
        }
      });
    });
  </script>

{% endblock content %}