{% extends "Pages/base.html" %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#address-form').submit(function (e) {
            e.preventDefault();

            var formData = {
                first_name: $('#first-name').val(),
                last_name: $('#last-name').val(),
                email: $('#email').val(),
                phone: $('#phone').val(),
                address: $('#address').val(),
                city: $('#city').val(),
                state: $('#state').val(),
                country: $('#country').val(),
                pin_code: $('#pin-code').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()

            };
            $.ajax({
                type: 'POST',
                url: '/add_address', // Change this to your server-side script
                data: formData,
                dataType: 'json',
                encode: true
            })
                .done(function (data) {
                    console.log(data);
                });
        });
    });

</script>

<section class="py-4 osahan-main-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="osahan-account bg-white rounded shadow-sm overflow-hidden">
                    <div class="p-4 profile text-center border-bottom">

                        <img src="img/user.png" class="img-fluid rounded-pill">
                        <h6 class="font-weight-bold m-0 mt-2">{{item.first_name}}</h6>
                        <p class="small text-muted m-0"><a href="https://askbootstrap.com/cdn-cgi/l/email-protection"
                                class="__cf_email__"
                                data-cfemail="2c454d41435f4d444d426c4b414d4540024f4341">{{item.email}}</a></p>
                    </div>

                    <div class="account-sections">
                        <ul class="list-group">
                            <a href="#" class="text-decoration-none text-dark">
                                <li class=" bg-white d-flex  align-items-center p-3">
                                </li>
                            </a>

                            <a href="#" class="text-decoration-none text-dark">
                                <li class=" bg-white d-flex  align-items-center p-3">
                                </li>
                            </a>
                            <a href="{% url 'Myaccounts' %}" class="text-decoration-none text-dark">
                                <li class="border-bottom bg-white d-flex align-items-center p-3">
                                    <i class="icofont-user osahan-icofont bg-danger"></i>My Account
                                    <span class="badge badge-success p-1 badge-pill ml-auto"><i
                                            class="icofont-simple-right"></i></span>
                                </li>
                            </a>
                            <a href="#" class="text-decoration-none text-dark">
                                <li class=" bg-white d-flex  align-items-center p-3">

                                </li>
                            </a>

                            <a href="{% url 'Myaddress' %}" class="text-decoration-none text-dark">
                                <li class="border-bottom bg-white d-flex align-items-center p-3">
                                    <i class="icofont-address-book osahan-icofont bg-dark"></i>My Address
                                    <span class="badge badge-success p-1 badge-pill ml-auto"><i
                                            class="icofont-simple-right"></i></span>
                                </li>
                            </a>

                            <a href="#" class="text-decoration-none text-dark">
                                <li class=" bg-white d-flex  align-items-center p-3">

                                </li>
                            </a>

                            <a href="{% url 'logout' %}" class="text-decoration-none text-dark">
                                <li class="border-bottom bg-white d-flex  align-items-center p-3">
                                    <i class="icofont-lock osahan-icofont bg-danger"></i> Logout
                                </li>
                            </a>
                            <a href="#" class="text-decoration-none text-dark">
                                <li class=" bg-white d-flex  align-items-center p-3">

                                </li>
                            </a>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 p-4 bg-white rounded shadow-sm">
                <h4 class="mb-4 profile-title text-center">My Address</h4>
                <div id="edit_profile">
                    <div class="p-0 addres_data">
                        <div class="card">
                            <div class="card-body">
                                <form id="address-form">
                                    {% csrf_token %}

                                    <label for="First Name">First Name</label>
                                    <input type="text" class="form-control fname-class" id="first-name" name="Fname"
                                        placeholder="Enter First Name">


                                    <label for="First Name">Last Name</label>
                                    <input type="text" class="form-control lname-class" id="last-name" name="Lname"
                                        placeholder="Enter First Name">


                                    <label for="email">Email</label>
                                    <input type="text" class="form-control email-class" id="email" name="email"
                                        placeholder="Enter Email">


                                    <label for="Phone">Phone</label>
                                    <input type="text" class="form-control mobile-class" id="phone" name="mobile"
                                        placeholder="Enter Phone">


                                    <label for="Address">Address</label>
                                    <textarea type="text" class="form-control address-class" id="address" name="address"
                                        placeholder="Enter Address"></textarea>


                                    <label for="city">City</label>
                                    <input type="text" class="form-control city-class" id="city" name="city"
                                        placeholder="Enter City">


                                    <label for="State">State</label>
                                    <input type="text" class="form-control state-class " id="state" name="state"
                                        placeholder="Enter State">


                                    <label for="Country">Country</label>
                                    <input type="text" class="form-control country-class" id="country" name="country"
                                        placeholder="Enter Country">


                                    <label for="Pin Code">Pin Code</label>
                                    <input type="text" class="form-control pincode-class" id="pin-code" name="pincode"
                                        placeholder="Enter Pin Code">

                                    <button
                                        class="btn btn-success w-100 float-end my-4 mb-0 submit-class">Submit</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>



<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="vendor/jquery/jquery.min.js" type="b7487215b2ce49bcb701d295-text/javascript"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js" type="b7487215b2ce49bcb701d295-text/javascript"></script>

<script type="b7487215b2ce49bcb701d295-text/javascript" src="vendor/slick/slick.min.js"></script>

<script type="b7487215b2ce49bcb701d295-text/javascript" src="vendor/sidebar/hc-offcanvas-nav.js"></script>

<script src="js/osahan.js" type="b7487215b2ce49bcb701d295-text/javascript"></script>
<script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
    data-cf-settings="b7487215b2ce49bcb701d295-|49" defer=""></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
    integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
    data-cf-beacon='{"rayId":"7972820c0ef084dd","version":"2022.11.3","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}'
    crossorigin="anonymous"></script>
{% endblock content %}